
#bookmarks, #new-trail, #view, #notes{
		        float: left;
		        text-align: center;
		        width: 47%;
		        margin: 1%;
		        min-height: 300px;
		        border: 1px solid #666;
		        background-color: #ffffff;
		    }

#new-trail, #notes {
				float: right;
		        text-align: center;
		        width: 47%;
		        margin: 1%;
		        min-height: 300px;
		        border: 1px solid #666;
		        background-color: #ffffff;

}

#access{
	float: right;
	text-align: right;
	width: 20%;
	margin: 2%;
}

#spacer{
	float: left;
	text-align: right;
	width: 20%;
	margin: 2%;
}


#title {
	float: left;
	text-align: center;
	width: 50%;
}

#get-bookmarks {
	float: center;
	width: 100%;
}

ul {
	text-align: left;

}


form {
		        margin-bottom: 20px;
}

#header, #transfer, #preview, #saved-trail{
	float: left;
	text-align: center;
	width: 98%;
	margin: 1%;
	border: 1px solid #666;
	background-color: #ffffff;
}

body {
	background-image: url('brain_bkg.gif');
	background-color:#000000;
	border-radius: 10px;	
}

div {
	border-radius: 10px;
}
